name: Publish

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
    branches:
      - main

  # Allow calling manually from GitHub
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  run-tests:
    name: Tests
    uses: ./.github/workflows/test.yaml

  publish:
    name: Publish
    needs:
      - run-tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Remove preview consumption comment
        if: github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@52423e01640425a022ef5fd42c6fb5f633a02728 #v2.9.1
        with:
          header: pr_preview_consumption
          delete: true
          GITHUB_TOKEN: ${{ secrets.KONGPONENTS_BOT_PAT }}

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          token: ${{ secrets.KONGPONENTS_BOT_PAT }}

      - name: Setup git
        run: |
          git config user.email "konnectx-engineers+kongponents-bot@konghq.com"
          git config user.name "Kong UI Bot"

      - name: Setup PNPM with Dependencies
        uses: ./.github/actions/setup-pnpm-with-dependencies/

      - name: Publish Package Preview
        id: package-preview
        # Do not run for `alpha` or `beta` branches
        if: github.event_name == 'pull_request' && (github.actor != 'renovate[bot]' || contains(github.event.pull_request.labels.*.name, 'create preview package')) && !contains(github.head_ref || github.ref_name, 'alpha') && !contains(github.head_ref || github.ref_name, 'beta')

        run: |

          preid="pr.${{ github.event.pull_request.number }}.$(git rev-parse --short ${{ github.event.pull_request.head.sha }})"
          tag="pr-${{ github.event.pull_request.number }}"
          echo "preid=${preid}"

          # Use yarn to bump the version for the prerelease
          pnpm version prerelease --preid ${preid} --no-git-tag-version --yes --amend

          package_version=$(jq -r ".version" package.json)
          package=@kong/eslint-config-kong-ui@"${package_version}"

          npm show "${package}" >/dev/null 2>&1 && npm_show_status=0 || npm_show_status=1
          if [ $npm_show_status -eq 0 ]; then
            echo "Package ${package} is already published. Skipping publishing."
            exit 0
          fi

          npm_instructions=""

          pkg=$(pnpm publish --no-git-checks --access public --report-summary --tag "${tag}" | grep "+ "| sed 's/+ //')

          if [[ -z "${pkg}" ]]; then
            echo "Error publishing package"
            exit -1
          fi

          npm_instructions="@$(echo ${pkg}|cut -d'@' -f2)@${tag}"

          echo "npm_instructions<<EOF" >> $GITHUB_OUTPUT
          echo -e "$npm_instructions" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Provide preview link info
        if: ${{ steps.package-preview.outputs.npm_instructions != '' }}
        uses: marocchino/sticky-pull-request-comment@52423e01640425a022ef5fd42c6fb5f633a02728 #v2.9.1
        with:
          header: pr_preview_consumption
          message: |
             ### Install the preview package from this PR

             ```sh
             ${{ steps.package-preview.outputs.npm_instructions }}
             ```
          GITHUB_TOKEN: ${{ secrets.KONGPONENTS_BOT_PAT }}

      - name: Semantic Release
        if: github.event_name == 'push'
        uses: cycjimmy/semantic-release-action@0a51e81a6baff2acad3ee88f4121c589c73d0f0e #v4.2.0
        env:
          # Since branch protections are on (pushing commits) you need to use a bot PAT
          GITHUB_TOKEN: ${{ secrets.KONGPONENTS_BOT_PAT }}

        # as of now cycjimmy/semantic-release-action is not publishing  to npmjs as
        # trusted publishing is not yet supported, so we want to do a publish as separate step
      - name: Publish to npm
        if: github.event_name == 'push'
        run: |
          npm publish
